

<script type="text/javascript">
    /*<![CDATA[*/
	var Index = function() {

		return {

			//初始化
			init : function() {

				//注册事件
				this.initEvent();

				//初始化表格
				Sys.initTable(

				this.getTableParam()

				);

			},

			initEvent : function() {


                $("#btnSearch").click(function () {
                    Sys.refreshTable(Index.getTableParam());
                });
                $("#searchForm").submit(function () {

                    Sys.refreshTable(Index.getTableParam());
                    return false;

                });

			},


            detail : function(sysId) {
                // 该链接携带参数请求controller，然后跳转到year.html
                var url ='/stat/sysId/year'.replace(/sysId/g, sysId);
                window.location.href = url;

            },

			getTableParam : function() {

				return {
					tableId : "tabList",
                    url : '/stat/query_by_page.json',
                    // 通过表单ID获取查询信息
                    queryParams: $("#searchForm").serializeObject(),

					columns : [


							
							{
								"field" : "sysName",
								"title" : "系统",
								"align" : "center"
							},

							{
								"field" : "pv",
								"title" : "总pv",
								"align" : "center"
							},

							{
								field : 'sysId',
								title : '操作',
								align : 'center',
								formatter : function(value, row, index) {


                                    var btnEdit='<a href="javascript:;" onclick="Index.detail(\'sysId\')"  class="btn btn-link" style="padding:0px 6px">详情</a>';

                                    return [ btnEdit]
											.join('').replace(/sysId/g, value);

								}
							}

					]

				}

			}

		};

	}();

	//入口
	$(document).ready(function() {

		Index.init();

	});
    /*]]>*/
</script>

